div#product-comp {
    background_color : rgb(4, 26, 19)!important;
    main-height : 400px;
    border-radius:6px;
    text-alight : center;
    color: rgb(199, 198, 198);
}
.product-item {
    background_color: #4bad6e;
    color: white;
    position: relative;
    }
.product-item i{
    position:absolute;
    top: 2px;
    right: 2px;

    }
